<a href="https://colab.research.google.com/github/zaharco17/lesson-zahar/blob/master/tourism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ссылка на файл
https://docs.google.com/spreadsheets/d/1djJ7_83oQw4NpXx5jQijSApFBQA2UC9q/edit?usp=sharing&ouid=114494483791878767461&rtpof=true&sd=true

путь /content/tourism.xlsx

In [1]:
! gdown --id 1djJ7_83oQw4NpXx5jQijSApFBQA2UC9q

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1djJ7_83oQw4NpXx5jQijSApFBQA2UC9q
To: /content/tourism.xlsx
100% 26.1k/26.1k [00:00<00:00, 31.2MB/s]

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt

In [3]:
df = pd.read_excel('/content/tourism.xlsx')

In [4]:
#df['product_type'] = df['product_type'].str.strip('product_type ')

In [5]:
df['country_column'] = df['country_column'].str.strip()

In [6]:
df19 = df[df['year_column'] == 2019]

In [7]:
df19['sum'] = df19['12_Month'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df19_country = df19.groupby('country_column').sum()

In [9]:
df19_country['dolia'] = df19_country['12_Month']/df19_country['sum']

In [10]:
df19_country.sort_values('12_Month', ascending = False).head(15)

,year_column,3_Months,6_Months,9_Month,12_Month,sum,dolia
country_column,,,,,,,
Украина,2019,1420.0,3423.0,5944.0,7760.0,24419.0,0.317785
Казахстан,2019,664.0,1569.0,2716.0,3564.0,24419.0,0.145952
Китай,2019,252.0,780.0,1594.0,1883.0,24419.0,0.077112
Азербайджан,2019,197.0,418.0,684.0,911.0,24419.0,0.037307
Финляндия,2019,190.0,430.0,681.0,896.0,24419.0,0.036693
Германия,2019,57.0,270.0,592.0,690.0,24419.0,0.028257
Польша,2019,155.0,323.0,497.0,641.0,24419.0,0.026250
Абхазия,2019,128.0,262.0,435.0,596.0,24419.0,0.024407
Армения,2019,121.0,260.0,420.0,551.0,24419.0,0.022564
Эстония,2019,96.0,232.0,383.0,523.0,24419.0,0.021418
Другие страны,2019,69.0,205.0,384.0,505.0,24419.0,0.020681
Киргизия,2019,90.0,198.0,312.0,443.0,24419.0,0.018142
Республика Корея,2019,64.0,178.0,356.0,431.0,24419.0,0.017650
Монголия,2019,81.0,181.0,295.0,376.0,24419.0,0.015398
Республика Молдова,2019,85.0,189.0,296.0,376.0,24419.0,0.015398